<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>The Astonishing</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/TheAstonishing.jpg" alt="Scream Bloody Gore"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Dream Theater<br /><em><b>The Astonishing</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                10/10 - <b><em>MASTERPIECE</em></b>
                            </li>
                            <li><strong>Length:</strong> 130:23</li>
                            <li><strong>Release Date:</strong> January 29, 2016</li>
                            <li><strong>Genre:</strong> Progressive Metal/ Progressive Rock/ Rock Opera</li>
                            <li><strong>Label:</strong> Roadrunner</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        Dream Theater released their third album with new drummer Mike Mangini with a bang: 
                        <em>The Astonishing</em> was the first concept album since 1999's <em>Metropolis pt.2: Scenes
                        from a Memory</em> and the first double album since 2001's <em>Six Degrees of Inner Turbulence</em>. 
                        <em>The Astonishing</em> packs thirty-four new tracks (five of those being noise tracks) and 
                        clocks at two hours and ten minutes. The album tells the story of Gabriel, a man who 
                        rediscovered music, in a world where the Great Northern Empire of the Americas replaced 
                        music with noise machines (the noise tracks in the album), and Gabriel's brother's plan to 
                        overthrow the empire and bring music back to the world. The lengthy rock opera showcases 
                        the talents once more of every member in the group, sounding better than ever. With 
                        moving pieces such as <em>When Your Time has Come, Chosen</em> and <em>Begin Again</em>, strong prog-heavy 
                        <em>The Gift of Music, Three Days, Ravenskill, Moment of Betrayal, The Walking Shadow</em> and 
                        <em>Our New World</em> along with powerful anthems <em>Brother, Can You Hear Me?, The Path That Divides,
                        My Last Farewell</em> and <em>Hymn of a Thousand Voices, The Astonishing</em> is the greatest Dream 
                        Theater record in a long time, if not their strongest ever released.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

