<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>Children of Fire</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/ChildrenOfFire.jpeg" alt="ChildrenOfFire"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Oh, Sleeper<br /><em><b>Children of Fire</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nathan White</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                */10 - <b><em>N/A</em></b>
                            </li>
                            <li><strong>Length:</strong> 36:44</li>
                            <li><strong>Release Date:</strong> September 6, 2011</li>
                            <li><strong>Genre:</strong> Metalcore</li>
                            <li><strong>Label:</strong> Solid State</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        <em>Review currently being written... stay tuned!</em>
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

