<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReviewTwo" asp-controller="Home">Music Review</a>
                <span><em>Colors</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/Colors.jpg" alt="Colors"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Between the Buried and Me<br /><em><b>Colors</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nathan White</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                */10 - <b><em>N/A</em></b>
                            </li>
                            <li><strong>Length:</strong> 64:09</li>
                            <li><strong>Release Date:</strong> September 18, 2007</li>
                            <li><strong>Genre:</strong> Progressive Metal/Technical Death Metal</li>
                            <li><strong>Label:</strong> Victory</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        <em>Review currently being written... stay tuned!</em>
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

