<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>The Division Bell</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/DivisionBell.jpg" alt="Scream Bloody Gore"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Pink Floyd<br /><em><b>The Division Bell</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                7/10 - <b><em>Good</em></b>
                            </li>
                            <li><strong>Length:</strong> 66:23</li>
                            <li><strong>Release Date:</strong> March 28th, 1994</li>
                            <li><strong>Genre:</strong> Progressive Rock/ Ambient Rock</li>
                            <li><strong>Label:</strong> EMI/Columbia</li>
                        </ul>
                    </div>
                    <div class="entry-content">
                        <p>
                            The last Pink Floyd record before <em>The Endless River</em>, released in 2014,
                            <em>The Division Bell</em> is one of David Gilmour, Richard Wright and Nick Mason's
                            finest moments. With soaring tunes such as <em>Coming Back to Life</em> and <em>
                                A Great
                                Day for Freedom
                            </em>, the song in which David Gilmore made his guitar truly weep; <em>Marooned</em>
                            and the epic closure <em>High Hopes, The Division Bell</em> is one of Pink Floyd's
                            most underrated gem. A truly relaxing and beautiful workpiece from one of
                            the most influential bands of all time.
                        </p>
                    </div>
                </div> <!-- .row -->

            </div>
        </div>
    </div> <!-- .container -->
</main>