<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>Falling Into Infinity</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/FallingIntoInfinity.jpg" alt="Falling Into infinity"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Dream Theater<br /><em><b>The Astonishing</b></em></h2>
                        <h2 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h2>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                7/10 - <b><em>Good</em></b>
                            </li>
                            <li><strong>Length:</strong> 78:12</li>
                            <li><strong>Release Date:</strong> September 23, 1997</li>
                            <li><strong>Genre:</strong> Progressive Metal/ Progressive Rock</li>
                            <li><strong>Label:</strong> EastWest</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        Perhaps the most controversial album in the band's discography and unarguably 
                        the weakest album by the prog metal giants, <em>Falling Into Infinity</em> felt like much 
                        of a letdown to many fans. After the band had released two amazing albums back-to-back (<em>Images
                        and Words</em> and <em>Awake</em>), the record label wanted Dream Theater to appeal to a wider 
                        audience by making radio-friendly music. Ironically, the album was a commercial 
                        failure, as <em>Images and Words</em> went Gold by the RIAA and <em>Awake</em> went Platinum by 
                        the RIAJ. Looking back on the album 20 years later, <em>Falling Into Infinity</em> is 
                        actually a pretty solid record. Sure, it doesn't glow in the progressive coat 
                        Dream Theater are known to use, but songs like <em>New Millennium, Peruvian Skies,
                        Hell's Kitchen, Lines in the Sand</em> and <em>Trial of Tears</em> are some of Dream Theater's 
                        finest, the latter still being used in their live setlists up to this day. <em>Falling
                        into Infinity</em> is rough and unusual, but nowhere near being a bad record.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

