<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReviewTwo" asp-controller="Home">Music Review</a>
                <span><em>From Mars To Sirus</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/FromMarsToSirus.jpg" alt="From Mars To Sirus"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Gojira<br /><em><b>From Mars to Sirius</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nathan White</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                */10 - <b><em>N/A</em></b>
                            </li>
                            <li><strong>Length:</strong> 66:52</li>
                            <li><strong>Release Date:</strong> September 27, 2005</li>
                            <li><strong>Genre:</strong> Technical Death Metal/Progressive Metal</li>
                            <li><strong>Label:</strong> Listenable, Prosthetic</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        <em>Review currently being written... stay tuned!</em>
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

