<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>From Genesis To Revelation</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/FromGenesisRoRevelation.jpg" alt="From Genesis To Revelation"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Genesis<br /><em><b>From Genesis To Revelation</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                5/10 - <b><em>Mediocre</em></b>
                            </li>
                            <li><strong>Length:</strong> 43:25</li>
                            <li><strong>Release Date:</strong> March 7, 1969</li>
                            <li><strong>Genre:</strong> Symphonic Pop/Folk Rock/Psychedelic Pop</li>
                            <li><strong>Label:</strong> Decca/Virgin EMI (UK) <br />
                                &emsp;&emsp;&ensp;&nbsp;&nbsp;London/Republic(USA)</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        Before Genesis were Genesis, they were... well, they had no name. They released an album 
                        with a black background and the title <em>From Genesis to Revelation</em> slapped on the upper-
                        left corner after songwriter Jonathan King discovered them and took the band under his 
                        wing. Barely adults, key Genesis members Peter Gabriel on vocals, Tony Banks on keys, 
                        Michael Rutherford on bass along with John Silver on drums and Anthony Phillips on guitar, 
                        the group released <em>From Genesis to Revelation</em> on March 7th, 1969. The record, contrary 
                        to the other albums during the Peter Gabriel-era of Genesis, was primarily symphonic 
                        pop and folk. The album opens with the insanely catchy intro <em>When the Sour Turns to
                        Sweet</em>, but unfortunately the album isn't as consistent. With a few catchy, memorable tracks such 
                        as heavy bass lead in <em>The Serpent</em>, the eerie <em>Am I Very Wrong</em>, the soaring chorus of <em>In
                        the Wilderness</em>, the chorus in <em>In Hiding</em> (they'll get stuck in your head 
                        for a while, I <em>promise</em> you) and the sweet semi-closer <em>The Silent Sun, From Genesis to
                        Revelation</em> isn't entirely bad. It drags and feels stale most of the album, but 
                        considering the circumstances of the band at the time (and the wonderful career they 
                        would live), this is definitely a curious listen that any Genesis fan should explore 
                        at some point and time, while casual listeners should skip past this one and move on 
                        straight to <em>Trespass</em>, Genesis' 1970 release.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

