<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReviewTwo" asp-controller="Home">Music Review</a>
                <span><em>Hardwired... To Self-Destruct</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/HardWiredCover.jpeg" alt="Scream Bloody Gore"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Metallica<br /><em><b>Hardwired... To Self-Destruct</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                8/10 - <b><em>Great</em></b>
                            </li>
                            <li><strong>Length:</strong> 77:26</li>
                            <li><strong>Release Date:</strong> November 18, 2016</li>
                            <li><strong>Genre:</strong> Thrash Metal/Heavy Metal</li>
                            <li><strong>Label:</strong> Blackened</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        After eight very long years, Metallica fans are finally rewarded with a <b>double</b> album, 
                        the true successor to <em>Death Magnetic</em> (see: <em>Lulu</em>), <em>Hardwired... To Self-Destruct</em>. 
                        Clocking at seventy-seven minutes, <em>Hardwired</em> is the longest Metallica album to date 
                        (previously held by <em>Death Magnetic</em>, which had a runtime of seventy-four minutes). The
                        album truly feels like a polished, refined version of <em>Death Magnetic</em> in almost every 
                        aspect, fusing elements from <em>The Black Album</em> and <em>Kill 'Em All</em>. There's really enough 
                        to please any Metallica fan in this record, brutal thrash anthems <em>Hardwired to Self-Destruct</em> 
                        and <em>Spit out the Bone</em>, hard heavy metal songs <em>Atlas, Rise!, Moth into Flame, Here
                        Comes Revenge</em> and <em>Am I Savage?</em>, this record truly shows Metallica is not dead like
                        many people thought the band were.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

