<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReviewTwo" asp-controller="Home">Music Review</a>
                <span><em>Images and Words</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/ImagesAndWords.jpg" alt="Images and Words"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Dream Theater<br /><em><b>Images and Words</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                10/10 - <b><em>MASTERPIECE</em></b>
                            </li>
                            <li><strong>Length:</strong> 57:04</li>
                            <li><strong>Release Date:</strong> July 7, 1992</li>
                            <li><strong>Genre:</strong>Progressive Metal/Progressive Rock </li>
                            <li><strong>Label:</strong> ATCO</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        It is extremely hard to find a single bad moment inside the colossus <em>Images and
                        Words</em> by progressive metal pioneers Dream Theater. This album marks the debut 
                        for the band's longtime vocalist James LaBrie, where the signature Dream Theater 
                        sound the fans grown to love debuted. Some of the finest musicianship is shown 
                        on this record by the Berklee-attendees John Petrucci, John Myung, Mike Portnoy 
                        and Kevin Moore. Every track highlights a member's talents: Mike Portnoy's 
                        aggressive drumming style in <em>Pull Me Under</em>, Moore's hypnotizing keyboard in <em>Wait
                        for Sleep</em>, Petrucci's intensive shredding in <em>Take the Time</em>, Myung's passionate 
                        bass playing in <em>Under a Glass Moon</em>, LaBrie's soaring range in <em>Learning to Live</em>, 
                        and the band's entire musicianship in <em>Metropolis pt.1: The Miracle and the Sleeper</em>, 
                        which remains in the band's encore to this day, and spawned a sequel album 
                        <em>Metropolis pt.2: Scenes from a Memory. Images and Words</em> is the perfect album to 
                        introduce a friend to progressive music, or to display how <em><b>badass</b></em> Dream Theater are.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

