<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="ReviewTwo" asp-controller="Home">Music Review</a>
                <span><em>The Lamb Lies Down on Broadway</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/LambLiesDown.png" alt="The Lamb Lies Down on Broadway"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Genesis<br /><em><b>The Lamb Lies Down on Broadway</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                10/10 - <b><em>MASTERPIECE</em></b>
                            </li>
                            <li><strong>Length:</strong> 94:22</li>
                            <li><strong>Release Date:</strong> November 18, 1974</li>
                            <li><strong>Genre:</strong>Progressive Rock/Art Rock/Rock Opera </li>
                            <li><strong>Label:</strong> Charisma</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        The sixth and final studio album with co-founder vocalist Peter Gabriel, <em>The
                        Lamb Lies Down on Broadway</em> is simply one of the greatest albums of the 20th century. 
                        Released in 1974, the band had decided to tackle a double concept album, 
                        clocking a runtime of ninety-four minutes. With Gabriel writing the story and 
                        the lyrics, Phil Collins, Tony Banks, Mike Rutherford and Steve Hackett wrote 
                        all the music for the album. The story of young graffiti artist Rael is 
                        brilliantly told through 23 tracks, in which each stand their own ground whilst 
                        expanding the concept of the records. With plenty of genres and styles to please 
                        everyone, such as the pop-oriented <em>The Lamb Lies Down on Broadway</em> and <em>Counting
                        out Time</em>, the hard-crushing <em>Fly on a Windshield/Broadway Melody of 1974, In the
                        Cage</em> and <em>Back in N.Y.C.</em>, the soft ballad that carried on through almost every 
                        Genesis show all the way through 2007 <em>Carpet Crawlers</em> and the bizarre prog-fest 
                        <em>The Colony of the Slippermen, The Lamb Lies Down on Broadway</em> is a must-listen 
                        for fans of music in general.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

