<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>Long Cold Winter</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/LongColdWinter.jpg" alt="Low Teens"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Cinderella<br /><em><b>Long Cold Winter</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nathan White</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                */10 - <b><em>N/A</em></b>
                            </li>
                            <li><strong>Length:</strong> 43:51</li>
                            <li><strong>Release Date:</strong> May 21, 1988</li>
                            <li><strong>Genre:</strong> Glam Metal</li>
                            <li><strong>Label:</strong> Mercury (USA)<br />
                                        &emsp;&emsp;&ensp;&nbsp; Vertigo (Europe)</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        <em>Review currently being written... stay tuned!</em>
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

