<main class="main-content">
    <div class="container">
        <div class="page">
            <div class="breadcrumbs">
                <a asp-action="Index" asp-controller="Home">Home</a>
                <a asp-action="Review" asp-controller="Home">Music Review</a>
                <span><em>Scream Bloody Gores</em></span>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <figure class="movie-poster"><img src="~/images/ScreamBloodyGore.jpg" alt="Scream Bloody Gore"></figure>
                    </div>
                    <div class="col-md-6">
                        <h2 class="movie-title">Death<br /><em><b>Scream Bloody Gore</b></em></h2>
                        <h3 class="movie-title-author">Review by <b>Nicholas Gaudet</b></h3>
                        <ul class="movie-meta">
                            <li>
                                <strong>Rating:</strong>
                                8/10 - <b><em>Great</em></b>
                            </li>
                            <li><strong>Length:</strong> 37:51</li>
                            <li><strong>Release Date:</strong> May 25, 1987</li>
                            <li><strong>Genre:</strong> Death Metal</li>
                            <li><strong>Label:</strong> Combat</li>
                        </ul>
                    </div>
                <div class="entry-content">
                    <p>
                        One of the most debated subject in metal is such: who was the <em>first</em> 
                        death metal record ever produced? Was it Possessed's <em>Seven Churches</em> 
                        in 1985 or Death's <em>Scream Bloody Gore</em> in 1987? <em>Scream Bloody Gore</em> was 
                        released in 1987 by Chuck Schuldiner's band, <em>Death</em>, previously named <em>Mantas</em>. 
                        The 10-track metal album is one of the most disgusting, brutal and 
                        goory record ever to hit the shelves. Never had people stumbled their 
                        ears on such brutality, with songs titled <em>Regurgitated Guts, Baptized
                        in Blood, Infernal Death</em> and <em>Torn to Pieces</em>. This is one of Death Metal's 
                        finest album, which is impressive since it is considered by many the very 
                        first death metal album. So, to answer the question, is <em>Scream Bloody
                        Gore</em> truly the first death metal record, or was the genre already established 
                        by its competitor <em>Seven Churches</em>. The simple answer is this: <em>Scream Bloody
                        Gore</em> made what Death Metal is today, revolutionizing the genre forever, 
                        spawning countless bands of different subgenres. It may not be the first 
                        death metal album, but it's the first <em>true</em>, cover-to-cover death metal record.
                    </p>
</div>
                </div> <!-- .row -->
                
            </div>
        </div>
    </div> <!-- .container -->
</main>

